<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imagename</key>
		<array>
			<string>image.jpg</string>
			<string>imagename1.jpg</string>
			<string>imagename2.jpg</string>
			<string>imagename3.jpg</string>
			<string>1.jpg</string>
		</array>
	</dict>
	<dict>
		<key>imagename</key>
		<array>
			<string>image.jpg</string>
			<string>3.jpg</string>
			<string>imagename1.jpg</string>
		</array>
	</dict>
	<dict>
		<key>imagename</key>
		<array>
			<string>1.jpg</string>
			<string>image.jpg</string>
		</array>
	</dict>
	<dict>
		<key>imagename</key>
		<array>
			<string>image3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>imagename</key>
		<array>
			<string>image2.jpg</string>
			<string>image3.jpg</string>
			<string>1.jpg</string>
			<string>image.jpg</string>
			<string>imagename2.jpg</string>
			<string>2.jpg</string>
		</array>
	</dict>
	<dict>
		<key>imagename</key>
		<array>
			<string>image2.jpg</string>
			<string>1.jpg</string>
			<string>image.jpg</string>
			<string>imagename2.jpg</string>
			<string>2.jpg</string>
		</array>
	</dict>
	<dict>
		<key>imagename</key>
		<array>
			<string>imagename2.jpg</string>
			<string>2.jpg</string>
		</array>
	</dict>
	<dict>
		<key>imagename</key>
		<array>
			<string>image.jpg</string>
			<string>imagename2.jpg</string>
			<string>2.jpg</string>
		</array>
	</dict>
	<dict>
		<key>imagename</key>
		<array>
			<string>2.jpg</string>
		</array>
	</dict>
	<dict>
		<key>imagename</key>
		<array>
			<string>image2.jpg</string>
			<string>image3.jpg</string>
			<string>1.jpg</string>
			<string>image.jpg</string>
			<string>imagename2.jpg</string>
			<string>2.jpg</string>
		</array>
	</dict>
	<dict>
		<key>imagename</key>
		<array>
			<string>image.jpg</string>
			<string>2.jpg</string>
		</array>
	</dict>
</array>
</plist>
