<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icon1.jpg</string>
		<key>status</key>
		<string>image</string>
		<key>name</key>
		<string>fuck you</string>
		<key>contents</key>
		<string>一男子在闹市骑摩托撞昏了一个陌生的老汉！ 男子惊吓的不知所措！围观群众越来越多！突然，该男抱住老汉，声泪俱下的喊道：“爹，你等着我，我这就去给你找医生！”说后，就跑掉了。。。老汉挣扎着愤怒的喊道：“给老子回来！”众人纷纷感慨：“这儿子当的真孝顺！”</string>
		<key>imagename</key>
		<string>imagename1.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon2.jpg</string>
		<key>status</key>
		<string>image</string>
		<key>name</key>
		<string>张三的歌</string>
		<key>contents</key>
		<string>:小明考试回家，妈妈问他：“考的咋呀？”小明说：“只有一道题错了！！”妈妈问：&quot;啥题？”小明说：“问3乘7等于几?”妈妈问：“你等于几”小明说：“我当时不管三七二十一等了个20.9！</string>
		<key>imagename</key>
		<string>imagename2.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon3.jpg</string>
		<key>status</key>
		<string>image</string>
		<key>name</key>
		<string>窗前无月光</string>
		<key>contents</key>
		<string>朝鲜：大哥，我要做核试验了。　中国：好的，什么时候？　朝：10. 　中：10？10什么？10天还是10小时？　朝：9，8,7，6。。。　中：你大爷的！</string>
		<key>imagename</key>
		<string>imagename2.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon4.jpg</string>
		<key>status</key>
		<string>text</string>
		<key>name</key>
		<string>枯藤老树昏鸦</string>
		<key>contents</key>
		<string>一在天津的学长说的：“今天打车11.9毛钱他给司机12块钱。”
　　司机看他半天没动弹给他打了个小票，打完小票他还是没动弹说了句：“还差一毛。”
　　司机愣了，司机边找一毛钱边说：“我纵横天津二十多年头一次见到一毛也要找的。”</string>
		<key>imagename</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon5.jpg</string>
		<key>status</key>
		<string>image</string>
		<key>name</key>
		<string>前方高能</string>
		<key>contents</key>
		<string>一朋友家有悍妻，决定和老婆摊牌。
　　双腿一跪说：“老婆大人，在家里你可以随便打我骂我，但是能不能在外面给我留些面子？”
　　他老婆很爽快地答应了，几日后，逛街之时其老婆又对他拳脚相加。
　　他一边逃，一边求情：“咱不是说好只在家打骂我吗？”
　　老婆淡淡的说：“男子汉，四海为家。”</string>
		<key>imagename</key>
		<string>imagename2.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon6.jpg</string>
		<key>status</key>
		<string>image</string>
		<key>name</key>
		<string>家破山河在</string>
		<key>contents</key>
		<string>一在天津的学长说的：“今天打车11.9毛钱他给司机12块钱。”
　　司机看他半天没动弹给他打了个小票，打完小票他还是没动弹说了句：“还差一毛。”
　　司机愣了，司机边找一毛钱边说：“我纵横天津二十多年头一次见到一毛也要找的。”</string>
		<key>imagename</key>
		<string>imagename4.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon7.jpg</string>
		<key>status</key>
		<string>image</string>
		<key>name</key>
		<string>我是你大爷</string>
		<key>contents</key>
		<string>记得读高中时候班上有个逗B同学，被教导主任抓到谈恋爱。
　　班主任开班会时狠狠的批评了他，并要求他写检讨，念给全班同学听。
　　这哥们儿一听急了，愤然拍案而起：“难道爱一个人有错吗？”</string>
		<key>imagename</key>
		<string>imagename2.jpg</string>
	</dict>
</array>
</plist>
