<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cellImage</key>
		<string>image.jpg</string>
		<key>cellContents</key>
		<string>黝黑的天空裏h，明星如棋子似的散佈在那裏。比較狂猛的大風，在高處嗚嗚的響。馬路上行人不多，但也不斷。汽車過處，或天風落下來，阿斯法兒脫的路上，時時轉起一陣黃沙。是穿著單衣覺得不熱的時候。馬路兩旁永夜不息的電燈，比前半夜減了光輝，各家店門已關上了。
　　兩人盡默默的在馬路上走。後面的一個穿著一套半舊的夏布洋服，前面的穿著不流行的白紡綢長衫。他們兩個原是朋友，穿洋服的是在訪一個同鄉的歸途，穿長衫的是從一個將赴美國的同志那裏回來，二人系在馬路上偶然遇著的。二人都是失業者。
　　“你上哪里去?”
　　走了一段，穿洋服的問穿長衫的說。
　　穿長衫的沒有回話，默默的走了一段，頭也不朝轉來，反問穿洋服的說：
　　“你上哪里去?”
　　穿洋服的也不回答，默默的盡沿了電車線路在那裏走。二人正走到一處電車停留處，後面一乘回車庫去的末次電車來了。穿長衫的立下來停了一停，等後面的穿洋服的。穿洋服的慢慢走到穿長衫的身邊的時候，停下的電車又開出去了。
　　“你爲什麽不乘了這電車回去?”
　　穿長衫的問穿洋服的說。穿洋服的不答，卻腳也不停慢慢的向前走了，穿長衫的就在後面跟著。
　　二人走到一處三叉路口了。穿洋服的立下來停了一停。穿長衫的走近了穿洋服的身邊，腳也不停下來，仍複慢慢的前進。穿洋服的一邊跟著，一邊問說：
　　“你爲什麽不進這叉路回去?”
　　二人默默的前去，他們的影子漸漸兒離三叉路口遠了下去，小了下去。過了一忽，他們的影子就完全被夜氣吞沒了。三叉路口，落了天風，轉起了一陣黃沙，比較狂猛的風，嗚嗚的在高處響著。一乘汽車來了，三叉路口又轉起了一陣黃沙。這是立秋的晚上。</string>
	</dict>
	<dict>
		<key>cellImage</key>
		<string>image2.jpg</string>
		<key>cellContents</key>
		<string>阿里巴巴为什h么做得这么大，新东方为什么做得这么小？原因是我和马云的自信度不一样。我跟马云有很多相似的经历，我们两个人都是学外语的，都是高考考了3年，第3年才考上的，我考上北大的本科，他考上杭州师范学院的专科。大家马上就明白了，这两个人不仅仅有长相上的差别，而且还有智商上的差别。</string>
	</dict>
	<dict>
		<key>cellImage</key>
		<string>image3.jpg</string>
		<key>cellContents</key>
		<string>我身上有没有谈恋爱的能力呢？一定有，我第一次追女孩就追成了。我有没有做事情的能力呢？有，我第一次创业就是做新东方，就做成了。</string>
	</dict>
</array>
</plist>
